.enabled {
    border-radius: 4px;
    text-align: center;
    height: auto;
    font-size: xx-large;
    background-image: url('https://sodimac.scene7.com/is/image/SodimacPeru/8829136_01?wid=1500&hei=1500&qlt=70');
    background-size: 441px;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid black;
}

.disabled {
    border-radius: 4px;
    text-align: center;
    height: auto;
    font-size: xx-large;
}